@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Roboto Mono', monospace;}

body
{display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background: linear-gradient(350deg, #27749a, #F6F6F6);}