@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Roboto Mono', monospace;}

body
{display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background: linear-gradient(360deg, #27749a, #F6F6F6);}

footer 
{text-align: center;
color: #004369;
    ul 
    {list-style-type: none;
        a {color: #013750; text-decoration: none;}
        i {font-size: 15px; margin: 0px 10px; color: #013750;} }

    p {margin: 15px 0; font-size: 14px;}
}
